#calculator {
  border: 2px solid black;
  border-radius: 5px;
  width: 250px;
}

#input {
  margin: 10px;
  width: 85%;
  font-size: 25px;

}

#buttons button {
  height: 50px;
  width: 50px;
  margin: 10px;
}

#buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}